.shopTitle {
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
}

.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.product {
    width: 400px;
    height: 350px;
    margin: 100px 25px;
    padding: 2rem;
}
  
.product-image {
    width: 400px;
}
  
.description {
    display: flex;
    gap: 10px;
    text-align: center;
    font-weight: bold;
}

.button-wrapper {
    text-align: center;
    margin: 50px ;
    font-size: large;
}